
.fablabel{
  margin: 2px 5px 2px 7px;
}

.categorybox {
  color: #16294a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 15px;
  row-gap: 10px;
}
.categoryname {
  color: #16294a;
  flex-basis: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  border-bottom: 2px solid #16294a;
  margin: 60px 70px 20px 70px;
}

#narrativehero {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

#narrativehero > div {
  border-right: 2px solid #12223d;
  border-bottom: 2px solid #12223d;
  border-radius: 15px;
  margin: 6px 8px 8px 6px;
  padding: 5px 8px 5px 8px;
}

.mainchdiv{
    border-right: 2px solid #12223d;
    border-bottom: 2px solid #12223d;
    border-radius: 15px;
    margin: 6px 8px 8px 6px;
    padding: 8px 12px 12px 12px;
}
.charlabel{
    font-size: 2.5em;
}

.maincharacteristic {
  width: 130px;
  font-size: 4em;
  text-align: center;
}

.skillcontainer {
  font-size: 0.8em;
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
  flex-basis: 30%;
  border: 3px solid #12223d;
  background-color: #3c4a63;
  border-radius: 15px;
  color: lightgray;
}

.skillname {
  flex-basis: 33%;
  align-self: center;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  border-right: 2px dotted #12223d;
  padding: 3px 5px 3px 0px;
  margin: 3px 0 3px 4px;
}

.focusdiv,
.traindiv {
  padding: 0 3px 7px 0;
}

.skillab {
  display: block;
  margin: 5px 0 0 0;
  padding-top: 2px;
  text-align: center;
}
.inputdivf,
.inputdivt {
  margin-top: 5px;
  padding-top: 2px;
}
