#spellsfield {
  align-items: flex-start;
  border-bottom: none;
  margin: 10px 0px 0px 0px;
}

.spell {
  padding: 10px 0px 10px 0px;
  margin: 20px 0px 20px 0px;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 2px solid #12223d;
}
.spell>div {
  padding: 2px 2px 2px 2px;
  margin: 2px 2px 2px 10px;
}
.spell>div:last-of-type {
    flex-grow: 1;
  }
  
  .spell > div:first-child{
      flex-basis: 100%;
      font-weight: bold;
      justify-content: center;
      margin-bottom: 20px;
  }
 

.inputSpellCost,
.inputSpellRange {
  width: 70px;
}
.inputSpellTarget {
  width: 200px;
}

.inputSpellDuration {
  width: 150px;
}
.inputSpellEffect {
  min-width: 300px;
  flex-grow: 4;
}
